@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* use the fonts in /static/fonts */

@layer base {
	@font-face {
		font-family: 'PhantomSans';
		src: url('/fonts/PhantomSans_Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'PhantomSans';
		src: url('/fonts/PhantomSans_Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
	}

	html,
	body {
		font-family: 'PhantomSans', sans-serif;
	}
}
